.body
{
    background-image: url("C:\Users\tirth kamdar\OneDrive\Desktop\Leaderboard\leaderboard\src\Assets\img9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:fit-content;
    height:100%;
}
h1
{
    font-size:7rem;
    color:yellow;
    font-weight: 500;
    text-align: center;
}
.protest-riot-regular 
{
    font-family: "Protest Riot", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.card
{
    display: inline-block;
    flex-direction: row;
    width:55rem;
    height:15rem;
    margin-left:2%;
    margin-top:2%;
    background-color: lightgray;
    border-radius:25px;
    opacity: 0.7;
    border:white solid 10px;
    
}
.card1
{
    display: inline-block;
    flex-direction: row;
    width:55rem;
    height:15rem;
    margin-left:2%;
    margin-top:5%;
    background-color: lightgray;
    border-radius:25px;
    opacity: 0.7;
    border:white solid 10px;
    background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
}
.card2
{
    display: inline-block;
    flex-direction: row;
    width:55rem;
    height:15rem;
    margin-left:2%;
    margin-top:5%;
    background-color: lightgray;
    border-radius:25px;
    opacity: 0.7;
    border:white solid 10px;
    background-image:linear-gradient(to right , #a1a7b0, #6f747b,#a1a7b0,#6f747b,#a1a7b0);
}
.card3
{
    display: inline-block;
    flex-direction: row;
    width:55rem;
    height:15rem;
    margin-left:2%;
    margin-top:2%;
    background-color: lightgray;
    border-radius:25px;
    opacity: 0.7;
    border:white solid 10px;
    background-image:linear-gradient(to right , #CD7F32,#c68c51,#874f16,#DC8E41,#AF6114);
}
.img1
{
    border-radius:60%;
    margin:2% 5%;
}
h2
{
    font-size:3rem;
    margin:2% 6%;
    display:inline-block;
    color:white;
}
